#center
{	
	background-color:black;// #555555; 
	top : 50%;
	left: 50%;
	//text-align: center;
	height: 100%;
	//width: %;// 370px;
	opacity: 0.8;
	margin-left: 10%;
  margin-right: 10%;
  //text-align: center;
  color: white;
}
#center:hover
{
	opacity: 1;
}